h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav,
figcaption {
  text-align: center;
}

nav a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: grey;
  margin: 0 auto;
}

figure figcaption {
  font-size: 14px;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#details div{
  display: block;
  float: left;
}

div {
  background-color: red;
  text-align: center;
  width: 25%;
}
  
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
